.app.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #e3efea;


  --primary-color: #02e802;
  --secondary-color: #c2f502;

  --inverted-primary-color: #051442;
  --inverted-secondary-color: #0a4bb8;
}