.app.light {
  --bg-color: #e3efea;
  --inverted-bg-color: #0e0e75;

  --primary-color: #051442;
  --secondary-color: #0a4bb8;

  --inverted-primary-color: #00f800;
  --inverted-secondary-color: #ffde04;
}