.Navbar {
  //width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  justify-content: end;
  box-sizing: border-box;

}